# Node modules (Hauptverzeichnis und Unterverzeichnisse)
node_modules/
mock-octo/mock_uploads
# Build- und dist-Ordner
dist/

# Umgebungsvariablen (falls vorhanden)
.env
.env.local
.env.development
.env.production

# Log-Dateien
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript Build-Outputs
*.tsbuildinfo

.DS_Store

# G-Code Dateien

node_modules
